///////////////////////////////////
// HTML elements
//
// Override here the prime rules.
///////////////////////////////////

* { 
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: $colorBlack;
  font-family: $defaultFont;
  font-size: 1.6em;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
}

p {
  font-size: 1.6rem;
  margin-bottom: 20px;
  line-height: 1.2em;
}

img {
  display: block;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
